<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Browser_Chrome" value="Browser_Chrome"/>
		<add key ="Browser_Edge" value="Browser_Edge"/>
		<add key ="Browser_Firefox" value="Browser_Firefox"/>
	</appSettings>
	<environments>
		<chrome>
			<add key="browserName" value="Browser_Chrome" />
			<add key="browserVersion" value="78.0" />
			<add key="platformName" value="Win10" />
		</chrome>
		<edge>
			<add key="browserName" value="Browser_Edge" />
			<add key="browserVersion" value="11.0" />
			<add key="platformName" value="Win10" />
		</edge>
		<firefox>
			<add key="browserName" value="Browser_Firefox" />
			<add key="browserVersion" value="73.0" />
			<add key="platformName" value="Win8.1" />
		</firefox>
	</environments>
	<EnvironmentVariables>
	</EnvironmentVariables>
</configuration>