<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="ChromeBrowser" value="CHROME"/>
		<add key ="EdgeBrowser" value="EDGE"/>
		<add key ="FireFoxBrowser" value="FIREFOX"/>
	</appSettings>
	<environments>
		<chrome>
			<add key="browserName" value="Chrome" />
			<add key="browserVersion" value="78.0" />
			<add key="platformName" value="Win10" />
		</chrome>
		<firefox>
			<add key="browserName" value="Firefox" />
			<add key="browserVersion" value="73.0" />
			<add key="platformName" value="Win8.1" />
		</firefox>
		<safari>
			<add key="browserName" value="Safari" />
			<add key="browserVersion" value="12.0" />
			<add key="platformName" value="macOS Mojave" />
		</safari>
		<ie>
			<add key="browserName" value="Internet Explorer" />
			<add key="browserVersion" value="11.0" />
			<add key="platformName" value="Win10" />
		</ie>
	</environments>
</configuration>