<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Browser_Chrome" value="Browser_Chrome"/>
		<add key ="Browser_Edge" value="Browser_Edge"/>
		<add key ="Browser_Firefox" value="Browser_Firefox"/>
	</appSettings>
	<environments>
		<chrome>
			<add key="browser" value="chrome" />
		</chrome>
		<chrome2>
			<add key="browser" value="chrome2" />
		</chrome2>
	</environments>
	<EnvironmentVariables>
	</EnvironmentVariables>
</configuration>